<div class="action-loading" *ngIf="isLoading">
    <div class="ui active text loader">{{ loading_action }}</div>
</div>

<div class="ui container">

    <div class="ui basic segment">

    <div class="ui icon message">
      <i class="info circle icon"></i>
      <div class="content">
        <div class="header">
          This is the Rates page.
        </div>
        <p>Rate tables have been imported here. Filter the rates using the fields below.</p>
      </div>
    </div>

        <div class="ui tiny form">
            <a class="ui right floated button" (click)="create()" style="margin-top:calc(19px + .28571429rem)">New</a>
            <a class="ui right floated button" target="_blank" href="/import" style="margin-top:calc(19px + .28571429rem); margin-right:5px;">Import</a>
            <div class="fields">
                <div class="field">
                    <label>Filter Origin</label>
                    <select class="ui search dropdown" [(ngModel)]="filterSelect.origin" (change)="loadFilteredData()">
                      <option value="">Origin</option>
                      <option *ngFor="let origin of filterOptions.origins" [value]="origin.origin">{{ origin.origin }}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Filter Destination</label>
                    <select class="ui search dropdown" [(ngModel)]="filterSelect.destination" (change)="loadFilteredData()">
                      <option value="">Destination</option>
                       <option *ngFor="let destination of filterOptions.destinations" [value]="destination.destination">{{ destination.destination }}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Filter Type</label>
                    <select class="ui search dropdown" [(ngModel)]="filterSelect.type" (change)="loadFilteredData()">
                      <option value="">Type</option>
                      <option *ngFor="let type of filterOptions.types" [value]="type.type">
                        <ng-template *ngIf="type.type === 'rail'">Rail</ng-template>
                        <ng-template *ngIf="type.type === 'pd'">Pickup/Delivery</ng-template>
                      </option>
                    </select>
                </div>
                <div class="field">
                    <label>Filter Account</label>
                    <select class="ui search dropdown" [(ngModel)]="filterSelect.account" (change)="loadFilteredData()">
                      <option value="">Account</option>
                      <option *ngFor="let account of filterOptions.accounts" [value]="account.account_type">{{ account.account_type }}</option>
                    </select>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <a (click)="clear()" class="ui button">Clear</a>
                </div>
            </div>
        </div>

        <table class="ui small selectable celled table">
          <thead>
            <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Type</th>
                <th>Account</th>
                <th>Vehicle Size</th>
                <th>Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rate of rates" [routerLink]="['/dashboard/rates', rate.id, 'edit']">
                <td>{{ rate.origin }}</td>
                <td>{{ rate.destination }}</td>

                <td>
                    <span *ngIf="rate.type === 'rail'">Rail</span>
                    <span *ngIf="rate.type === 'pd'">Pickup/Delivery</span>
                </td>

                <td>{{ rate.account_type }}</td>
                <td>{{ rate.vehicle_type || 'any' }}</td>
                <td>{{ rate.rate || 0 | number:'1.5-5' }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr><th colspan="6">
              <div class="ui right floated tiny pagination menu">
                <a class="icon item" (click)="first()">
                  <i class="angle double left icon"></i>
                </a>
                <a class="icon item" (click)="prev()">
                  <i class="angle left icon"></i>
                </a>
                <a class="item">{{ filterSelect.page+1 }}</a>
                <a class="icon item" (click)="next()">
                  <i class="angle right icon"></i>
                </a>
              </div>
            </th>
          </tr></tfoot>
        </table>

    </div>

</div>