/**
 * Generic Styles or Overrides
 *
 * Try to use Layout or Elements sheets when you can
 */

/deep/ {

	app {
		margin-bottom:3em;
		display:block;
	}

	h2.header {
		margin-bottom:1em !important;
	}

}