<div class="action-loading" *ngIf="isLoading">
    <div class="ui active text loader">{{ loading_action }}</div>
</div>

<div class="ui container">

	<div class="ui basic segment">

	<div class="ui icon message">
	  <i class="info circle icon"></i>
	  <div class="content">
	    <div class="header">
	      This is the Settings page.
	    </div>
	    <p>You can find settings related to surcharges, discounts, and taxes below. These settings are used throughout the quoting system.</p>
	  </div>
	</div>

		<div class="ui form">

			<a class="ui right floated button">Save</a>

			<h4 class="ui left floated header">
				Taxes &amp; Surcharges
			</h4>

			<div class="ui secondary segment" style="clear:both;">

			<h5 class="ui dividing header">Surcharges</h5>
	  		<div class="five fields">
	  			<div class="field">
	  				<label>Fuel Surcharge</label>
					<div class="ui icon input">
					  <input type="text" placeholder="">
					  <i class="percent icon"></i>
					</div>
				</div>
			</div>

			<h5 class="ui dividing header">Discounts</h5>
	  		<div class="five fields">
	  			<div class="field">
	  				<label>Quote Discount</label>
					<div class="ui icon input">
					  <input type="text" placeholder="">
					  <i class="percent icon"></i>
					</div>
				</div>
			</div>

			<h5 class="ui dividing header">Tax Rates</h5>
  			<div class="inline field">
  				<label>Alberta (AB)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
  			<div class="inline field">
  				<label>British Columbia (BC)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>Manitoba (MB)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>New Brunswick (NB)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>Newfoundland and Labrador (NL)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>Northwest Territories (NT)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>Nova Scotia (NS)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>Nunavut (NU)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>Ontario (ON)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>Prince Edward Island (PE)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>Quebec (QC)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>Saskatchewan (SK)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>
			<div class="inline field">
  				<label>Yukon (YT)</label>
				<div class="ui icon input">
				  <input type="text" placeholder="">
				  <i class="percent icon"></i>
				</div>
			</div>

			</div>

		</div>

	</div>

</div>