<div class="ui container">

  <div class="ui basic segment">

    <h1 style="font-size:36px; margin-bottom:0;" class="ui header">RFQ Management</h1>

    <div style="margin-top:0;" class="ui tabular menu">
      <a [routerLink]="['/dashboard/quotes']" routerLinkActive="active" class="item">
        Quotes
      </a>
      <a [routerLink]="['/dashboard/rates']" routerLinkActive="active" class="item">
        Rates
      </a>
      <a [routerLink]="['/dashboard/accounts']" routerLinkActive="active" class="item">
        Accounts
      </a>
      <a [routerLink]="['/dashboard/surcharges']" routerLinkActive="active" class="item">
        Taxes &amp; Surcharges
      </a>
    </div>

  </div>

</div>